#studyLevel, #attendanceMode {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.signup__message.success {
  background-color: #016630
}
.signup__message.error {
  background-color: #9f0712;
}

#privacyterms {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}