@import "tailwindcss";

:root {
  --aiesad-blue: #2E5DEA;
  --aiesad-darkblue: #2b344c;
  --aiesad-yellow: #e2a817;
  --aiesad-dark: #19151e;
  --aiesad-white: #f9fafb;
}

body, input, select, option {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

html {
  background-color: var(--aiesad-darkblue);
}

input, textarea {
  background-color: #ffffff;
}

.btn-aiesad {
  padding: 1rem 3rem;
  border-radius: 50rem;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.btn-yellow-aiesad {
  background-color: var(--aiesad-yellow);
  border: 1px solid var(--aiesad-yellow);
  color: var(--aiesad-dark);
}
.btn-yellow-aiesad:hover {
  background-color: var(--aiesad-dark);
  color: var(--aiesad-yellow);
  border-color: var(--aiesad-yellow);
}

.btn-blue-aiesad {
  background-color: var(--aiesad-blue);
  border: 1px solid var(--aiesad-blue);
  color: var(--aiesad-white);
}
.btn-blue-aiesad:hover {
  background-color: var(--aiesad-white);
  color: var(--aiesad-blue);
  border-color: var(--aiesad-blue);
}

.btn-darkblue-aiesad {
  background-color: var(--aiesad-darkblue);
  border: 1px solid var(--aiesad-darkblue);
  color: var(--aiesad-white);
}
.btn-darkblue-aiesad:hover {
  background-color: var(--aiesad-white);
  color: var(--aiesad-darkblue);
  border-color: var(--aiesad-darkblue);
}

.bg-blue-aiesad {
  background-color: var(--aiesad-blue);
}
.text-blue-aiesad {
  color: var(--aiesad-blue);
}

.bg-darkblue-aiesad {
  background-color: var(--aiesad-darkblue);
}
.text-darkblue-aiesad {
  color: var(--aiesad-darkblue);
}

.bg-yellow-aiesad {
  background-color: var(--aiesad-yellow);
}
.text-yellow-aiesad {
  color: var(--aiesad-yellow);
}

.bg-dark-aiesad {
  background-color: var(--aiesad-dark);
}
.text-dark-aiesad {
  color: var(--aiesad-dark);
}
